project_id        = "example-preprod-project"
region            = "us-central1"
environment       = "preprod"
database_tier     = "db-custom-2-7680"
authorized_cidr   = "0.0.0.0/0"
database_user     = "todo"
database_password = "todo-preprod"
database_name     = "todo"
